<%- include("partials/header") %>
<h1>Contact</h1>
<form action="mailto:20je0931@me.iitism.ac.in" method="post" enctype="text/plain">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email Address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Query</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="Query" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<%- include("partials/footer") %>